/*
    Tei-To-Xhtml5

    Copyright © 2017–2020, by Christopher Alan Mosher, Shelton, Connecticut, USA, cmosher01@gmail.com .

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

sup,
sub {
    line-height: 100%
}

.tei-hidden {
    display: none;
}

.tei-limsize {
    width: 100%;
    object-fit: scale-down;
    object-position: left top;
    max-height: 1500px;
}


.tei[rend~=center] {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tei[rend~=rev] {
    display: inline-block;
    transform: scale(-1, 1);
}

.tei[rend~=flip] {
    display: inline-block;
    transform: scale(1, -1);
}

.tei[rend~=sc] {
    font-variant: small-caps;
}

.tei[rend~=large] {
    font-size: 150%;
}




.tei-del {
    text-decoration: line-through;
}



.tei[title]:hover {
    cursor: help;
    border-radius: .2em;
    border: 1px dotted gray;
    margin: -1px;
}

.tei-editorial {
    align-items: center;
    border-radius: .3em;
    border: thin dotted gray;
    display: inline-flex;
    padding: 0 .25em .25em .25em;
}



/*








.tei-fileDesc>.tei-titleStmt {
    margin-bottom: 2ex;
    font-size: 110%;
}

.tei-fileDesc>.tei-sourceDesc {
    margin-bottom: 3ex;
    font-size: 80%;
}

hr.tei {
    border-style: dotted;
    border-width: thin 0 0 0;
    margin: 1em 0;
}


[rend~=italic] {
    font-style: italic;
}

[rend~=underline] {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

[rend~=sup], [type=turnover] {
    position: relative;
    font-size: 75%;
    top: -0.5em;
}

[rend~=sub], [type=turnunder] {
    position: relative;
    font-size: 75%;
    top: 0.5em;
}


[type=turnover]>.tei-lb, [type=turnunder]>.tei-lb {
    display: none;
}


.tei-choice>.tei-expan, .tei-choice>.tei-reg, .tei-choice>.tei-corr {
    display: none;
}

.tei-title[level=m], .tei-title[level=j], .tei-title[level=s] {
    font-style: italic;
}

.tei-title[level=a], .tei-title[level=u] {
    font-style: inherit;
}

.tei-bibl>.tei-ref {
    word-break: break-all;
}
*/
